PORT=0000 # The port for runing the api
JWT_SECRET_KEY=lhifzbefizebfzfbemrieerjbneob # The JWT key for authentication
CONNECTION_STRING=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable&TimeZone=UTC # Postgres Database Connection String